# Database settings
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=

# JWT settings
JWT_SECRET=

#Redis settings
REDIS_HOST=
REDIS_PORT=


NODE_ENV=
PORT=


FRONTEND_URL=

MOCK_SERVICE_URL=